name: Deploy to EKS using Kustomize

on:
  push:
    branches:
      - dev
      - staging
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Update kubeconfig for EKS
      run: aws eks update-kubeconfig --region ${{ secrets.AWS_REGION }} --name ${{ secrets.EKS_CLUSTER_NAME }}

    - name: Install Kustomize
      run: |
        curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | bash
        sudo mv kustomize /usr/local/bin/
        kustomize version


    - name: Determine overlay based on branch
      id: env-map
      run: |
        if [[ "${GITHUB_REF_NAME}" == "dev" ]]; then
          echo "OVERLAY=overlays/dev" >> $GITHUB_OUTPUT
        elif [[ "${GITHUB_REF_NAME}" == "staging" ]]; then
          echo "OVERLAY=overlays/staging" >> $GITHUB_OUTPUT
        else
          echo "OVERLAY=overlays/prod" >> $GITHUB_OUTPUT
        fi

    - name: Deploy to Kubernetes
      run: kubectl apply -k ${{ steps.env-map.outputs.OVERLAY }}

