name: CI/CD with Kustomize (No Cluster)

on:
  push:
    branches:
      - dev
      - staging
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4


      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1



      - name: Install Kustomize
        run: |
          curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | bash
          sudo mv kustomize /usr/local/bin/
          kustomize version

      - name: Validate Kustomize overlays
        run: |
          echo "Building dev overlay..."
          kustomize build overlays/dev
          echo "Building staging overlay..."
          kustomize build overlays/staging
          echo "Building production overlay..."
          kustomize build overlays/prod

      - name: Lint YAML manifests
        run: |
          echo "Checking YAML syntax..."
          find . -name "*.yaml" -exec yamllint {} \;

